<!-- <h1>Mind Map</h1> -->
<br>
<!-- <button mat-stroked-button color="primary" class="button" (click)="center$.next(true)">Center</button> -->
<button title="Toggle Sidebar Menu" (click)="configSidebar.toggle()"><span class="material-icons">
        menu
    </span></button>
<mat-drawer-container class="example-container">
    <mat-drawer #noteSidebar position="end" mode="side" opened class="sidebar">
        <h3>Notes:</h3>
        <form #noteForm="ngForm" (ngSubmit)="this.mindMapService.addMindMapNote(noteText.value);noteText.value=''">
            <mat-form-field appearance="fill">
                <mat-label>Add a note</mat-label>
                <textarea #noteText matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    type="text" placeholder="Note"></textarea>
                <br>
                <button matSuffix type="submit">
                    <span class="material-icons">mode_edit</span>
                    <!-- <input type="submit" value="Add Note" class="submitButton"> -->
                </button>
            </mat-form-field>
        </form>
        <hr>
        <div *ngFor="let n of this.mindMapService.mindMapNotes.slice().reverse()">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{n.date}}
                        <span (click)="this.mindMapService.deleteMindMapNote(n)" class="material-icons">delete</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="fill">
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                        [(ngModel)]="n.note" value="{{n.note}}"></textarea>
                </mat-form-field>
            </mat-expansion-panel>
            <!-- <span>{{n.date}}</span>
            <br>
            <mat-form-field appearance="fill">
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    [(ngModel)]="n.note" value="{{n.note}}"></textarea>
                <button matSuffix mat-icon-button title="Delete this note"
                    (click)="this.mindMapService.deleteNote(n)"><span class="material-icons">delete</span></button>
            </mat-form-field> -->

            <!-- <span>{{n.note}}</span> -->
            <hr>
        </div>


    </mat-drawer>
    <mat-drawer #configSidebar position="start" mode="side" opened class="sidebar">
        <!-- <h2>Configuration</h2> -->
        <mat-form-field>
            <mat-select placeholder="Line Curve Interpolation" [ngModel]="this.mindMapService.curveType"
                (ngModelChange)="this.mindMapService.setInterpolationType($event)" name="curve">
                <mat-option *ngFor="let curveType of this.mindMapService.interpolationTypes" [value]="curveType">
                    {{curveType}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Graph Direction" [ngModel]="this.mindMapService.orientationType"
                (ngModelChange)="setOrientationType($event)" name="orientation">
                <mat-option *ngFor="let orientationType of this.mindMapService.orientationTypes"
                    [value]="orientationType[0]">
                    {{orientationType[1]}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="draggingEnabled" name="draggingEnabled">Enable Dragging</mat-checkbox>
        <mat-checkbox [(ngModel)]="zoomEnabled" name="zoomEnabled">Enable Zoom</mat-checkbox>
        <mat-checkbox [(ngModel)]="miniMapVisible" name="miniMapVisible">Show Mini Map</mat-checkbox>
        <hr>
        <button (click)="center$.next(true)" mat-menu-item>Center Mind Map</button>

        <button (click)="this.mindMapService.addNode()" mat-menu-item>Add new basic Node</button>
        <button (click)="this.mindMapService.addNode(NodeHierarchy.Medium)" mat-menu-item>Add new Medium
            Node</button>
        <button (click)="this.mindMapService.createCluster()" mat-menu-item>Create Cluster from selected
            nodes</button>

        <button title="Save Mind Map Config" aria-label="saveButton" (click)="downloadMindMap()"><span
                class="material-icons">save</span></button>
        <input style="display: none" type="file" (change)="uploadMindMap($event)" #fileInput>
        <button title="Load Mind Map Config" aria-label="loadButton" (click)="fileInput.click()">
            <span class="material-icons">file_upload</span></button>
        <button title="Delete current Mind Map" (click)="this.mindMapService.clearMindMap()"><span
                class="material-icons">delete</span></button>
        <button title="Save current Mind Map as Image" (click)="getMindMapAsPng()"><span
                class="material-icons">camera_alt</span></button>
        <hr>
        <h3>Tips</h3>
        <ul>
            <li>This mind map consists of nodes, links/edges, and clusters</li>
            <li>Right click on any node, cluster, link, or the background to open element-specific context menus</li>
            <li>Left click on the rectangular text label on a node or cluster, or on a link to rename the element</li>
            <li>Click on the gray circle next to a node, hold the mouse button down and drag the arrow to the circle of
                another node you wish to connect with.</li>
            <li>Hold the Ctrl key and left click on a node to select the node</li>
        </ul>
        <h3>Please note:</h3>
        <ul>
            <li>The scroll wheel on the mouse zooms the mind map. To scroll the page move the mouse to the sidebar or
                use the scroll bar itself</li>
        </ul>
    </mat-drawer>

    <mat-drawer-content>
        <div class="mindMap">
            <ngx-graph #graph [links]="this.mindMapService.links" [nodes]="this.mindMapService.nodes"
                [clusters]="this.mindMapService.clusters" [draggingEnabled]="draggingEnabled" [enableZoom]="zoomEnabled"
                layout="dagreCluster" [center$]="center$" [autoZoom]="true" [showMiniMap]="miniMapVisible"
                [layoutSettings]="this.mindMapService.layoutSettings" [curve]="this.mindMapService.curve">
                <ng-template #defsTemplate>
                    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4"
                        orient="auto">
                        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                    </svg:marker>
                </ng-template>

                <ng-template #clusterTemplate let-cluster>
                    <svg:g class="node cluster" (contextmenu)="handleRightClick($event, cluster)">
                        <div style="visibility:hidden;" #clusterMenuTrigger [matMenuTriggerFor]="clusterMenu"></div>
                        <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width"
                            [attr.height]="cluster.dimension.height"
                            [attr.fill]="cluster.data.customColor || this.mindMapService.nodeColor" />
                        <svg:foreignObject width="150" height="100">
                            <div title="Click to rename" class="cardContainer">
                                <!-- The labelMenu only triggers when clicking on a graph component label -->
                                <label class="clusterName" (click)="handleLeftClick($event, cluster)">{{ cluster.label
                                    }}</label>
                            </div>
                        </svg:foreignObject>
                    </svg:g>
                </ng-template>

                <ng-template #nodeTemplate let-node>
                    <svg:g class="node {{node.data.level}}" (click)="handleCtrlClick($event, node)"
                        (contextmenu)="handleRightClick($event,node)" [attr.width]="node.dimension.width"
                        [attr.height]="node.dimension.height">
                        <div style="visibility:hidden;" #nodeMenuTrigger [matMenuTriggerFor]="nodeMenu"></div>
                        <div style="visibility: hidden;" #labelMenuTrigger [matMenuTriggerFor]="labelMenu"></div>
                        <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                            [attr.fill]="node.data.customColor|| this.mindMapService.nodeColor"
                            [attr.stroke]="node.data.stroke" />
                        <!-- The note text to this note shows on hover -->
                        <title *ngIf='node.data.note'>
                            {{node.data.note}}
                        </title>
                        <svg:foreignObject id="{{'container-' + node.id}}" [attr.width]="node.dimension.width"
                            [attr.height]="node.dimension.height">
                            <div title="Click to rename" class="cardContainer">
                                <!-- The labelMenu only triggers when clicking on a graph component label -->
                                <label (click)="handleLeftClick($event, node)" class="nodeName">{{ node.label
                                    }}</label>
                            </div>
                        </svg:foreignObject>

                        <svg:circle class="drag-circle" id="{{'circ-' + node.id}}" [attr.cx]="node.dimension.width"
                            [attr.cy]="node.dimension.height / 2" [attr.r]="8" fill="gray" ngx-tooltip
                            tooltipTitle="New Action" tooltipPlacement="right"
                            (mousedown)="onNodeCircleMouseDown($event, node)">
                            <title>Click to link to same node. Hold mouse button down and drag to other circle to
                                link to another node.</title>
                        </svg:circle>
                    </svg:g>
                </ng-template>

                <ng-template #linkTemplate let-link>
                    <svg:g class="edge" (click)="handleLeftClick($event,link)"
                        (contextmenu)="handleRightClick($event, link)">
                        <div #edgeMenuTrigger [matMenuTriggerFor]="edgeMenu" style="visibility: hidden;"></div>
                        <svg:path class="line {{link.data?.class}}" stroke-width="4" marker-end="url(#arrow)">
                        </svg:path>
                        <svg:text class="edge-label" text-anchor="middle" [ngStyle]="getLinkStyle()">
                            <textPath class="text-path" [attr.href]="'#' + link.id"
                                [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
                                {{ link.label }}
                            </textPath>
                        </svg:text>
                    </svg:g>
                    <!-- <svg:g class="linkMidpoint" *ngIf="link.midPoint"
            [attr.transform]="'translate(' + link.midPoint.x + ',' + link.midPoint.y + ')'">
            <ellipse rx="30" ry="10" />
            <svg:text alignment-baseline="central">{{ link.data.linkText }}</svg:text>
        </svg:g> -->
                </ng-template>
                <!-- Dragging line -->
                <svg:line class="line drag-line" *ngIf="draggingNode" [attr.x1]="startingDragPosition.x"
                    [attr.y1]="startingDragPosition.y" [attr.x2]="currentDragPosition.x"
                    [attr.y2]="currentDragPosition.y" marker-end="url(#arrow)" />

            </ngx-graph>

            <!-- a hidden div is created to set the position of appearance of the menu-->
            <div #graphMenuTrigger style="visibility: hidden;" [style.left.px]="menuTopLeftPosition.x"
                [style.top.px]="menuTopLeftPosition.y" [matMenuTriggerFor]="graphMenu"></div>

            <!-- The "global" context menu for the graph -->
            <mat-menu #graphMenu="matMenu" [overlapTrigger]="true">
                <ng-template matMenuContent let-item="item">
                    <button (click)="this.mindMapService.addNode()" mat-menu-item>Add new basic Node</button>
                    <button (click)="this.mindMapService.addNode(NodeHierarchy.Medium)" mat-menu-item>Add new Medium
                        Node</button>
                    <button (click)="this.mindMapService.createCluster()" mat-menu-item>Create Cluster from selected
                        nodes</button>
                </ng-template>
            </mat-menu>

            <!-- The context menu for a node -->
            <mat-menu #nodeMenu="matMenu" [overlapTrigger]="true">
                <ng-template matMenuContent let-node="node">
                    <button (click)="this.mindMapService.removeElement(node)" mat-menu-item>Remove Node from Mind
                        Map</button>
                    <button (click)="this.mindMapService.removeElement(node, true)" mat-menu-item>Remove all selected
                        Nodes</button>
                    <button *ngIf="this.mindMapService.isInCluster(node)"
                        (click)="this.mindMapService.removeFromCluster(node)" mat-menu-item>Remove Node from current
                        cluster</button>
                    <button (click)="this.mindMapService.createCluster()" mat-menu-item>Create Cluster from selected
                        nodes</button>
                    <button (click)="$event.stopPropagation();toggleColorPicker=!toggleColorPicker" mat-menu-item>Select
                        Color</button>
                    <span [cpToggle]="toggleColorPicker" [cpDialogDisplay]="'popup'" [cpOKButton]="true"
                        [(colorPicker)]="node.data.customColor" [cpPresetColors]="[this.mindMapService.nodeColor]"
                        (colorPickerSelect)=" toggleColorPicker=!toggleColorPicker"></span>
                </ng-template>
            </mat-menu>

            <!-- The context menu for a cluster -->
            <mat-menu #clusterMenu="matMenu" [overlapTrigger]="true">
                <ng-template matMenuContent let-cluster="cluster">
                    <button (click)="this.mindMapService.removeElement(cluster)" mat-menu-item>Remove Cluster</button>
                    <button (click)="this.mindMapService.createCluster(cluster)" mat-menu-item>Add selected nodes to
                        cluster</button>
                    <button (click)="$event.stopPropagation();toggleColorPicker=!toggleColorPicker" mat-menu-item>Select
                        Color</button>
                    <span [cpToggle]="toggleColorPicker" [cpDialogDisplay]="'popup'" [cpOKButton]="true"
                        [(colorPicker)]="cluster.data.customColor" [cpPresetColors]="[this.mindMapService.nodeColor]"
                        (colorPickerSelect)="toggleColorPicker=!toggleColorPicker"></span>
                </ng-template>
            </mat-menu>

            <!-- The context menu for an edge -->
            <mat-menu #edgeMenu="matMenu" [overlapTrigger]="true">
                <ng-template matMenuContent let-edge="edge">
                    <button (click)="this.mindMapService.removeElement(edge)" mat-menu-item>Remove Edge</button>
                    <!-- <button (click)="this.mindMapService.createCluster()" mat-menu-item>Add selected nodes to
                        cluster</button> -->
                </ng-template>
            </mat-menu>

            <!-- This menu causes the renaming of the given graph component from which it was triggered -->
            <mat-menu #labelMenu="matMenu" [overlapTrigger]="true">
                <ng-template matMenuContent let-item="item">
                    <form #labelForm="ngForm" (ngSubmit)="renameLabel(labelForm.value.labelName, item)">
                        <!-- stopPropagation so that mat-menu works with an inputfield. otherwise when clicking inside the input, the mat-menu would close -->
                        <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
                            <mat-label>Add or Rename Label</mat-label>
                            <input matInput #nameInput type="text" name="labelName" ngModel>
                        </mat-form-field>
                    </form>
                </ng-template>
            </mat-menu>
        </div>
    </mat-drawer-content>
</mat-drawer-container>