// :host ::ng-deep {
//     .ngx-charts {
//         background-color: aliceblue;
//     }
// }

.sidebar {
    // background: #efefef;
    padding: 10px;
    max-width: 15%;
}

mat-form-field,
mat-checkbox {
    display: block;
    width: 100%;
}

.mindMap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.drag-line {
    stroke-width: 2px;
    stroke: var(--text-color);
    stroke-dasharray: 4;
}

.edge {
    cursor: pointer;
}

.line.highlighted {
    // stroke-width: 6px;
    stroke: var(--text-color);
    stroke-dasharray: 4;

}

label {
    border: solid;
    cursor: pointer;
}

.cardContainer {
    display: flex;
    justify-content: space-between;
}